@model List<Grupo>

@{
    ViewData["Title"] = "Grupos";
}
<p>
    <a asp-action="Agregar">Nuevo grupo</a>
</p>

<h1>Grupos</h1>


<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Modificar</th>
            <th scope="col">Borrar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Grupo in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m=>Grupo.Nombre)
                </td>
                <td>
                    <form method="get" asp-action="Modificar" asp-route-id="@Grupo.IdGrupo">
                        <button type="submit" class="btn btn-primary">Modificar</button>
                    </form>
                </td>
                <td>
                    <form method="post" asp-action="Delete" asp-route-id="@Grupo.IdGrupo">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}